<div id="body">
    <div id="quiz">
        <p-card styleClass="p-card-shadow" [style]="{'height': '47em'}">
            <div id="titlu">
                <h3>Vă rugăm să completați formularul de mai jos pentru a obține o evaluare a situației dumneavoastră
                </h3>
                <h4>La final apăsați butonul <b><i>Submit</i></b> dacă doriți sa ajutați la acest studiu privind
                    violența domestică (toate răspunsurile sunt anonime).</h4>
            </div>
            <div id="iframe">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLScqYD9LXbCg85FLfCX-YFdCozd9KxcpbByplFhEiCN_kRuCSQ/viewform?embedded=true"></iframe>
            </div>
        </p-card>
    </div>
</div>