<p-toolbar [style]="{'z-index': '9','position': 'fixed', 'left': '0', 'top':'0', 'width':'100%', 'border-bottom':'1px solid darkgray', 'height':'5em'}">
    <div class="grid">
        <div class="col-4"></div>
        <div class="col-4 logoCentral">
            <img src="../assets/logo.png" style="cursor: pointer;" height="50" (click)="primaPagina()">
        </div>
        <div class="col-4 logoDreapta">
            <i class="pi pi-cog" style="cursor: pointer;" (click)="admin()"></i>
        </div>
    </div>
</p-toolbar>

<div id="content" style="padding-bottom: 4em;">
    <router-outlet></router-outlet>
</div>

<p-toolbar [style]="{'z-index': '9','position': 'fixed', 'left': '0', 'bottom':'0', 'width':'100%', 'border-top':'1px solid darkgray', 'height':'3em', 'margin-top':'1em'}">
    <div style="width: 100%; text-align: center;">
        
            <h3 style="margin-top: -0.5em;">Da-i si tu una! Hai ca poti!</h3>
        
    </div>
</p-toolbar>