<div class="col-md-12">
    <div class="card card-container" style="text-align: center;">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    minlength="3" maxlength="20" #username="ngModel" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
            </div>
            <div class="form-group">
                <label for="parola">Parola</label>
                <input type="password" class="form-control" name="parola" [(ngModel)]="form.parola" required
                    minlength="6" #parola="ngModel" />
            </div>
            <div class="form-group">
                <label for="nume">Nume</label>
                <input type="text" class="form-control" name="nume" [(ngModel)]="form.nume" required
                    #nume="ngModel" />
            </div>
            <div class="form-group">
                <label for="nume">Prenume</label>
                <input type="text" class="form-control" name="prenume" [(ngModel)]="form.prenume" required
                    minlength="6" #prenume="ngModel" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Sign Up</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
        </div>
    </div>
</div>