<div id="body">
    <p-toast></p-toast>
    <p-card styleClass="p-card-shadow">
        <div style="text-align: center;">
            <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input pInputText type="text" name="username" [(ngModel)]="form.username" required minlength="3"
                        #username="ngModel" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input pInputText type="email" name="email" [(ngModel)]="form.email" required email
                        #email="ngModel" />
                </div>
                <div class="form-group">
                    <label for="parola">Parola</label>
                    <input pInputText type="password" name="parola" [(ngModel)]="form.parola" required
                        #parola="ngModel" />
                </div>
                <div class="form-group">
                    <label for="nume">Nume</label>
                    <input pInputText type="text" name="nume" [(ngModel)]="form.nume" required #nume="ngModel" />
                </div>
                <div class="form-group">
                    <label for="nume">Prenume</label>
                    <input type="text" pInputText name="prenume" [(ngModel)]="form.prenume" required
                        #prenume="ngModel" />
                </div>
                <div class="form-group">
                    <button pButton type="button" (click)="onSubmit()">Sign Up</button>
                </div>
            </form>

            <div id="autentificare">
                <label *ngIf="isSuccessful">Înregistrarea a fost facută cu succes! Va puteți <b (click)="goToAutentificare()">autentifica</b>.</label>
            </div>
        </div>
    </p-card>
</div>