#body {
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
    font-family: 'Bahnschrift SemiBold';
}

#legislatia {
    width: 80%;
    margin-left: 10%;
}

#titluLegislatie {
    text-align: center;
}

p {
    font-weight: bold;
}

#descriere {
    margin-top: 3em;
}

#links {
    margin-left: 5%;
}

#definitie {
    margin-top: 4em;
    width: 100%;
}


#cautaCentre {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
}

#cautaCentreButon {
    width: 10em;

}

#cauta {
    margin-top: 1em;
}

#ptquiz {
    margin-top: 7em;
}

#raspquiz {
    text-align: center;
    font-weight: bold;
}

#raspundeLaQuiz {
    width: 10em;
}

#ptcontact {
    margin-top: 7em;
}

#mcontact {
    text-align: center;
}

#apasaContact {
    width: 10em;
}

#imagine {
    background-image: url('../../assets/1.png');
    background-repeat: no-repeat;
    height: 40em;
    margin: auto;
    background-size: cover;
}

#textImagine {
    height: 10em;
    margin-top: 27em;
    width: 70%;
    margin-left: 30%;
    color: whitesmoke;
}

#chat {
    text-align: center;
    margin-top: 6em;
}