<div id="body" class="grid">
    <div class="col-8">
        <div id="imagine">
            <div style="height: 1em;">
            </div>
            <div id="textImagine">
                <p style="font-family:Open Sans;font-size:35px;margin-left: 20%;">VIOLENȚA DOMESTICĂ </p>
                <p style="font-family:Bahnschrift SemiBold;font-size:28px;font-style:italic;">
                    Oricine poate să fie o victimă a violenței domestice indiferent
                    de se​​x, vârstă, religie sau clasă socială
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div id="links">
            <p-card class="center"
                [style]="{'height': '40em', 'background': 'radial-gradient(circle, rgba(108,106,107,1) 0%, rgba(9,9,9,1) 100%)', 'color': 'white'}">
                <div id="cautaCentre">
                    <div>
                        <p style="font-family:Bahnschrift SemiBold;font-size:30px">
                            Dacă vă aflați într-o situație abuzivă puteți apela la unul <br>din centrele destinate
                            pentru victimele abuzului domestic:
                        </p>
                    </div>
                    <div id="cauta">
                        <button pButton type="button" id="cautaCentreButon" label="Cauta Centre"
                            (click)="goToCautaCentre()"
                            style="font-family:Bahnschrift SemiBold; font-size:30px"></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <div id="definitie">
        <p-card styleClass="p-card-shadow"
            [style]="{'width': '100%', 'background': 'radial-gradient(circle, rgba(108,106,107,1) 0%, rgba(9,9,9,1) 100%)', 'color': 'white'}">
            <div style="text-align: center;">
                <h1>Definitia legală a violenţei domestice</h1>
            </div>
            <div style="width: 80%; margin-left: 10%;">
                <p style="font-family:'Calibri Light';font-size:33px">
                    Art3. Violenţa domestică înseamnă orice inacţiune sau acţiune intenţionată
                    de violenţă fizică, sexuală, psihologică, economică, socială sau spirituală care se produce în
                    mediul familial sau domestic ori între soţi sau foşti soţi, precum şi între actuali sau foşti
                    parteneri, indiferent dacă agresorul locuieşte sau a locuit împreună cu victima.
                </p>
                <p style="font-size: 20px;">(LEGEA Nr.
                    174/2018
                    din 13 iulie 2018 pentru prevenirea şi combaterea violenţei în familie)
                </p>

            </div>
        </p-card>
    </div>

    <div id="descriere">
        <p-card styleClass="p-card-shadow"
            [style]="{ 'background': 'radial-gradient(circle, rgba(108,106,107,1) 0%, rgba(9,9,9,1) 100%)', 'color': 'white'}">
            <div id="legislatia" class="center">
                <div id="titluLegislatie">
                    <h1>Legislatia actuală cu privire la
                        abuzul domestic:</h1>
                </div>
                <p style="font-family:'Calibri Light';font-size:30px">
                    ART. 7 (1) Autorităţile administraţiei publice centrale şi locale au obligaţia să ia
                    măsurile
                    necesare pentru prevenirea violenţei domestice, pentru preîntâmpinarea unor situaţii de
                    încălcare
                    repetată a drepturilor fundamentale ale victimelor violenţei domestice, inclusiv prin
                    furnizarea de
                    informaţii şi programe de educaţie despre modalităţile în care se pot preveni, evita,
                    recunoaşte şi
                    raporta cazurile de violenţă.
                    <br>
                    (LEGEA Nr. 174/2018 din 13 iulie 2018 pentru prevenirea şi combaterea
                    violenţei în familie, articolul 7 alineatul (1))

                </p>
                <p style="font-family:'Calibri Light';font-size:30px">
                    ART. 7. g) măsurile ce pot fi dispuse prin ordinul de protecţie provizoriu şi, după caz,
                    prin ordinul
                    de
                    protecţie, demersurile necesare pentru emiterea acestora şi procedura de judecată. <br>
                    (LEGEA Nr.
                    174/2018 din 13 iulie 2018 pentru prevenirea şi combaterea violenţei în familie,
                    articolul 7
                    alineatul (2) litera g)

                </p>
                <p style="font-family:'Calibri Light';font-size:30px">
                    Pentru mai multe detalii puteti accesa urmatorul link:
                    <br>
                    <a style="color: white;" href="https://anes.gov.ro/wp-content/uploads/2018/07/174-mod-217.pdf"
                        target="_blank">https://anes.gov.ro/wp-content/uploads/2018/07/174-mod-217.pdf</a>
                </p>
            </div>
        </p-card>
    </div>

    <div id="ptquiz" class="col-6">
        <p-card class="center"
            [style]="{'height': '25em', 'background': 'radial-gradient(circle, rgba(108,106,107,1) 0%, rgba(9,9,9,1) 100%)','color': 'white'}">
            <div id="raspquiz" class="center">
                <div>
                    <p style="font-family:Bahnschrift SemiBold;font-size:30px">
                        Pentru mai multe informaţii despre tipurile de violenţă domestică sau pentru a participa la un
                        studiu anonim ce va va ajuta la determinarea situtiei personale va rugam mergeti la pagina
                        informatii folosing butonul de mai jos.
                    </p>
                </div>
                <div id="quiz">
                    <button pButton type="button" id="raspundeLaQuiz" (click)="goToQuiz()" label="Informaţii"
                        style="font-family:Bahnschrift SemiBold;font-size:30px"></button>
                </div>
            </div>
        </p-card>
    </div>



    <div id="ptcontact" class="col-6">
        <p-card class="center"
            [style]="{'height': '25em', 'background': 'radial-gradient(circle, rgba(108,106,107,1) 0%, rgba(9,9,9,1) 100%)', 'color': 'white'}">
            <div id="mcontact" class="center">
                <div style="margin-top: 2em;">
                    <p style="font-family:Bahnschrift SemiBold;font-size:30px">
                        În cazul în care aveți sugestii despre cum am putea îmbunătății platforma
                        sau dacă ați întâlnit diverse probleme, apăsați butonul de mai jos pentru
                        a ne contacta.
                    </p>
                </div>
                <div style="margin-top: 4em;">
                    <button pButton type="button" id="apasaContact" (click)="goToContact()" label="Contact"
                        style="font-family:Bahnschrift SemiBold;font-size:30px"></button>
                </div>
            </div>
        </p-card>
    </div>

</div>