#body {
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
}

#legislatia{
    width: 80%;
    margin-left: 10%;
}

#titluLegislatie {
    text-align: center;
}

p {
    font-weight: bold;
}

#descriere {
    margin-top: 3em;
}

#links {
    margin-top: 7em;
    width: 115%;
    margin-left: -14.5%;
}

#definitie {
    margin-top: 7em;
    width: 85%;
    margin-left: 8%;
}


#cautaCentre {
    text-align: center;
    font-weight: bold;
}

#cautaCentreButon {
    width: 10em;
}

#cauta {
    margin-top: 1em;
}

#ptquiz {
    margin-top: 7em;
    width: 77%;
    margin-left: 1%;
}

#raspquiz {
    text-align: center;
    font-weight: bold;
}

#raspundeLaQuiz{
    width: 10em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

