<div id="body">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="p-button-text">
	</p-confirmDialog>
    <div id="titlu">
        <h3>Lista centre</h3>
    </div>
    <p-card>
        <p-table [value]="listCentre">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nume</th>
                    <th>Oras</th>
                    <th>Adresa</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Nr locuri maxim</th>
                    <th>Nr locuri libere</th>
                    <th>Latitudine</th>
                    <th>Longitudine</th>
                    <th>Sterge</th>
                    <th>Editeaza</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-centru>
                <tr>
                    <td>{{centru.id}}</td>
                    <td>{{centru.nume}}</td>
                    <td>{{centru.oras}}</td>
                    <td>{{centru.adresa}}</td>
                    <td>{{centru.telefon}}</td>
                    <td>{{centru.email}}</td>
                    <td>{{centru.nrLocuriMax}}</td>
                    <td>{{centru.nrLocuriLibere}}</td>
                    <td>{{centru.latitudine}}</td>
                    <td>{{centru.longitudine}}</td>
                    <td><button id="deleteButton" pButton type="button" (click)="deleteCentru(centru)"
                            label="Sterge"></button></td>
                    <td><button id="editButton" pButton type="button" (click)="editeazaCentru(centru)"
                            label="Editeaza"></button></td>
                </tr>
            </ng-template>
        </p-table>

        <div id="adauga">
            <button pButton type="button" label="Adauga un centru" (click)="adaugaCentru()"></button>
        </div>
    </p-card>
</div>