#body {
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
}

#hartaCentre {
    height: 35em;
    width: 90%;
    margin-left: 5%;
}

#titluCentru {
    text-align: center;
}

#detaliiCentruSelectat {
    /* margin-top: 2em; */
    width: 90%;
    margin-left: 5%;
}

#infoCentru {
    font-weight: bold;
    margin-top: 5em;
}

#butonRezerva {
    margin-top: 1.5em;
}

#listaCentre {
    margin-top: 2em;
}

#centruSelectat {
    width: 95%;
    margin-left: 5%;
}

#cardDreapta {
    height: 35em;
}

#explicatiiHarta {
    height: 3em;
    text-align: center;
}
#titluDreapta {
    height: 3em;
    text-align: center;
}

#rezervaDinHarta {
    text-align: center;
    margin-top: 2em;
    width: 100%;
}

#butonCautareDetaliata {
    text-align: center;
    margin-top: 2em;
}

#cautareDetaliata {
    margin-top: 3em;
    font-weight: bold;
}

#titluRezultate {
    width: 100%;
    text-align: center;
}

.col-6, .col-10 {
    margin-top: 1em;
}

#instructiuniRezultate {
    text-align: center;
    font-weight: bold;
    color: darkgray;
    margin-top: 1em;
}

#rezervareForm {
    width: 70%;
    margin-left: 15%;
    margin-top: 1em;
}

.col-3, .col-9 {
    margin-top: 1em;
}

#rezervareButon {
    margin-top: 2em;
    text-align: center;
}